# data folders
data/
globus_data/

# software/code folders, some of these are git versioned
code/
config/packages/duplomap

# output & analysis folders
output/
analysis/
logs/

# rule/DAG graphs generated while testing stuff
*.png
*.svg

# benchmarks are large and need to be backed up using a different method
benchmarks/

# caches
.*
# except for git stuff
!.gitignore
!.gitattributes

# and, to be safe...
__pycache__/
.___pycache__
.snakemake/
.ipynb_checkpoints
.DS_Store
._.DS_Store
.svn/

# personal notes
savio_notes.md
obsidian_logs/
issues/