# data folders
data/
globus_data/

# software/code folders
code/

# output folders
output/
logs/

# rule/DAG graphs generated while testing stuff
*.png
*.svg

# benchmarks are large and need to be backed up using a different method
benchmarks/

# notebooks can be backed up for reference, but files internal to the folder are likely deprecated and don't need to be versioned
notebooks/jupyter/*/*
!notebooks/jupyter/*/*.ipynb

# caches
.*
# except for git stuff
!.gitignore
!.gitattributes

# and, to be safe...
__pycache__/
.___pycache__
.snakemake/
.ipynb_checkpoints
.DS_Store
._.DS_Store
.svn/

# personal notes
savio_notes.md
obsidian_logs/
issues/